# EDA
## Vivienda en Madrid

In [20]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.gridspec import GridSpec

from utils.funciones import EDA_funciones

pd.set_option('display.max_columns', None)

In [21]:
EDA = EDA_funciones()

In [22]:
data = pd.read_csv('.\data\houses_Madrid.csv', index_col='Unnamed: 0')
data = data.sort_index(axis= 1)

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21742 entries, 0 to 21741
Data columns (total 57 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   are_pets_allowed              0 non-null      float64
 1   built_year                    10000 non-null  float64
 2   buy_price                     21742 non-null  int64
 3   buy_price_by_area             21742 non-null  int64
 4   door                          0 non-null      float64
 5   energy_certificate            21742 non-null  object
 6   floor                         19135 non-null  object
 7   has_ac                        11211 non-null  object
 8   has_balcony                   3321 non-null   object
 9   has_central_heating           13608 non-null  object
 10  has_fitted_wardrobes          13399 non-null  object
 11  has_garden                    1556 non-null   object
 12  has_green_zones               4057 non-null   object
 13  has_individual_heating        13608 non-null  object
 14  has_lift                      19356 non-null  object
 15  has_parking                   21742 non-null  bool
 16  has_pool                      5171 non-null   object
 17  has_private_parking           0 non-null      float64
 18  has_public_parking            0 non-null      float64
 19  has_storage_room              7698 non-null   object
 20  has_terrace                   9548 non-null   object
 21  house_type_id                 21351 non-null  object
 22  id                            21742 non-null  int64
 23  is_accessible                 4074 non-null   object
 24  is_buy_price_known            21742 non-null  bool
 25  is_exact_address_hidden       21742 non-null  bool
 26  is_exterior                   18699 non-null  object
 27  is_floor_under                20572 non-null  object
 28  is_furnished                  0 non-null      float64
 29  is_kitchen_equipped           0 non-null      float64
 30  is_new_development            20750 non-null  object
 31  is_orientation_east           11358 non-null  object
 32  is_orientation_north          11358 non-null  object
 33  is_orientation_south          11358 non-null  object
 34  is_orientation_west           11358 non-null  object
 35  is_parking_included_in_price  7719 non-null   object
 36  is_renewal_needed             21742 non-null  bool
 37  is_rent_price_known           21742 non-null  bool
 38  latitude                      0 non-null      float64
 39  longitude                     0 non-null      float64
 40  n_bathrooms                   21726 non-null  float64
 41  n_floors                      1437 non-null   float64
 42  n_rooms                       21742 non-null  int64
 43  neighborhood_id               21742 non-null  object
 44  operation                     21742 non-null  object
 45  parking_price                 7719 non-null   float64
 46  portal                        0 non-null      float64
 47  raw_address                   16277 non-null  object
 48  rent_price                    21742 non-null  int64
 49  rent_price_by_area            0 non-null      float64
 50  sq_mt_allotment               1432 non-null   float64
 51  sq_mt_built                   21616 non-null  float64
 52  sq_mt_useful                  8228 non-null   float64
 53  street_name                   15837 non-null  object
 54  street_number                 6300 non-null   object
 55  subtitle                      21742 non-null  object
 56  title                         21742 non-null  object
dtypes: bool(5), float64(17), int64(5), object(30)
memory usage: 8.9+ MB

In [24]:
data.describe(include = 'all').round()

,are_pets_allowed,built_year,buy_price,buy_price_by_area,door,energy_certificate,floor,has_ac,has_balcony,has_central_heating,has_fitted_wardrobes,has_garden,has_green_zones,has_individual_heating,has_lift,has_parking,has_pool,has_private_parking,has_public_parking,has_storage_room,has_terrace,house_type_id,id,is_accessible,is_buy_price_known,is_exact_address_hidden,is_exterior,is_floor_under,is_furnished,is_kitchen_equipped,is_new_development,is_orientation_east,is_orientation_north,is_orientation_south,is_orientation_west,is_parking_included_in_price,is_renewal_needed,is_rent_price_known,latitude,longitude,n_bathrooms,n_floors,n_rooms,neighborhood_id,operation,parking_price,portal,raw_address,rent_price,rent_price_by_area,sq_mt_allotment,sq_mt_built,sq_mt_useful,street_name,street_number,subtitle,title
count,0.0,10000.0,21742.0,21742.0,0.0,21742,19135,11211,3321,13608,13399,1556,4057,13608,19356,21742,5171,0.0,0.0,7698,9548,21351,21742.0,4074,21742,21742,18699,20572,0.0,0.0,20750,11358,11358,11358,11358,7719,21742,21742,0.0,0.0,21726.0,1437.0,21742.0,21742,21742,7719.0,0.0,16277,21742.0,0.0,1432.0,21616.0,8228.0,15837,6300,21742,21742
unique,NaN,NaN,NaN,NaN,NaN,10,19,1,1,2,1,1,1,2,2,2,1,NaN,NaN,1,1,4,NaN,1,1,2,2,2,NaN,NaN,2,2,2,2,2,2,2,1,NaN,NaN,NaN,NaN,NaN,126,1,NaN,NaN,9666,NaN,NaN,NaN,NaN,NaN,6177,420,146,10736
top,NaN,NaN,NaN,NaN,NaN,en trámite,1,True,True,False,True,True,True,True,True,False,True,NaN,NaN,True,True,HouseType 1: Pisos,NaN,True,True,True,True,False,NaN,NaN,False,False,False,True,False,True,False,False,NaN,NaN,NaN,NaN,NaN,Neighborhood 23: Malasaña-Universidad (5196.25...,sale,NaN,NaN,Paseo de la Castellana,NaN,NaN,NaN,NaN,NaN,Paseo de la Castellana,4,"Chamartín, Madrid",Piso en venta en El Viso
freq,NaN,NaN,NaN,NaN,NaN,10937,4440,11211,3321,9516,13399,1556,4057,9516,14895,14023,5171,NaN,NaN,7698,9548,17705,NaN,4074,21742,15002,16922,18033,NaN,NaN,19281,6302,8567,5823,7287,7115,17747,21742,NaN,NaN,NaN,NaN,NaN,485,21742,NaN,NaN,94,NaN,NaN,NaN,NaN,NaN,116,210,851,193
mean,NaN,1970.0,653736.0,4021.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10872.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,3.0,NaN,NaN,2658.0,NaN,NaN,-59170.0,NaN,242.0,147.0,103.0,NaN,NaN,NaN,NaN
std,NaN,69.0,782082.0,1908.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6277.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,2.0,NaN,NaN,13361.0,NaN,NaN,917116.0,NaN,247.0,134.0,88.0,NaN,NaN,NaN,NaN
min,NaN,1723.0,36000.0,447.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0,NaN,NaN,0.0,NaN,NaN,-34590276.0,NaN,1.0,13.0,1.0,NaN,NaN,NaN,NaN
25%,NaN,1957.0,198000.0,2551.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5436.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,NaN,NaN,0.0,NaN,NaN,725.0,NaN,2.0,70.0,59.0,NaN,NaN,NaN,NaN
50%,NaN,1970.0,375000.0,3720.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10872.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,3.0,3.0,NaN,NaN,0.0,NaN,NaN,1116.0,NaN,232.0,100.0,79.0,NaN,NaN,NaN,NaN
75%,NaN,1994.0,763600.0,5000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16307.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,4.0,4.0,NaN,NaN,0.0,NaN,NaN,1687.0,NaN,354.0,162.0,113.0,NaN,NaN,NaN,NaN
max,NaN,8170.0,8800000.0,18889.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21742.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,7.0,24.0,NaN,NaN,600000.0,NaN,NaN,2517.0,NaN,997.0,999.0,998.0,NaN,NaN,NaN,NaN

In [26]:
EDA.cardinalidad(data)

NameError: name 'pd' is not defined